$color-1: #276E90;
$color-2: #CECFC9;
$color-3: #0A3143;
$color-4: #EFEFEF;
$color-5: #141414;
.manualMode {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.manualMode button {
    border: none;
    background-color: transparent;
}

.manualMode button img {
    width: 100px;
}

#status {
    margin: auto;
    background-color: $color-2;
    border-radius: 25px;
    width: 180px;
    padding: 10px;
    text-align: center;
}