<div id="head">
    <header class="header">
        <nav class="nav">
            <button class="nav-toggle" (click)="navToggle()">
                <i class="fas fa-bars" id="icono-menu"></i>
            </button>
            <div *ngIf="nav == true">
                <ul class="nav-menu">
                    <li class="nav-menu-item" (click)="bluetoothConnection()"><i class="fas fa-wifi nav-menu-link nav-link" id="icono-wifi"></i></li>
                    <li class="nav-menu-item" (click)="logOut()"><a href="" class="nav-menu-link nav-link">Logout</a></li>
                </ul>
            </div>
            <div *ngIf="nav == false">
                <ul class="nav-menu nav-menu_visible">
                    <li class="nav-menu-item" (click)="bluetoothConnection()"><i class="fas fa-wifi nav-menu-link nav-link" id="icono-wifi"></i></li>
                    <li class="nav-menu-item" (click)="logOut()"><a href="" class="nav-menu-link nav-link">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>